<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIMO - Hand Tracking Control</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <h1>VIMO</h1>
      </div>
    </header>
    <main class="main-content">
      <div class="container">
        <h2>Hand Tracking Control</h2>
        <button id="toggleButton" class="round-button">Start</button>
      </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
